header{
    padding:  10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header_content{
    margin-inline: auto;
    display:  flex;
    justify-content: center;
    gap: 40px;
}
a{
    border: 1px solid gray;
    padding: 10px 35px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: .3s ease-in;
    &:hover{
        background-color: rgba(128, 128, 128, 0.171);

    }
    
}