.main_product {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  width: 70%;
  margin: 40px auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.7s all ease;
  &:hover {
    background: gray;
  }
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.title {
}
.product_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}
.card {
  width: 25%;
  height: 400px;
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid gray;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.7s all ease;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  &:hover {
    scale: 1.02;
  }

  img {
    width: 150px;
    height: 200px;
    object-fit: fill;
  }
}
.about {
  p {
    width: 100%;
    font-weight: 500;
    text-align: start;
    overflow: hidden;
    backface-visibility: hidden;
  }
}
.card_price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 30px auto;
}
.pagination_item {
  padding: 10px;
  border: 2px solid grey;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.4s all ease;
  &:hover {
    background: grey;
    scale: 1.02;

  }
}
.target {
  background: rgb(134, 134, 239);
  scale: 1.06;

}
.product_filter{
    width: 100%;


    >input{
        width: 100%;
        border: 1px solid grey;
        padding: 10px;
        font-size: medium;
    }

}
